@import 'icon/*.png';
@include all-icon-sprites;

*, html, body {
	box-sizing: border-box;
}

#container {
	width: 60%;
	margin: 0 auto;
	background-color: rgba(242, 235, 191, .5);
	padding: 20px;
}

h1, h2 {
	color: rgba(240, 96, 96, 1);
}

nav {
	margin-bottom: 0px;
	text-align:center;
	ul {
		li {
			a {
				color: rgba(140, 190, 178, 1);
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}//a
			.icon-home {
				zoom:0.4;
				-moz-transform:scale(0.4);
   	 			-moz-transform-origin: 0 0;
   	 			margin-bottom: -20px;
			}
		}//li
	}//ul
}//nav

li {
	display: inline-block;
	list-style:none;
	padding: 10px;
	a {
		display: inline-block;
		width: 100px;
		height: 100px;
		span {
			position: absolute;
			top:-9999em;
			left:-9999em;
		}//span
	}//a
}// end li

header {
	text-align: center;
}

#social-media {
	position: fixed;
	bottom: 20px;
	left: 20px;
	li {
		display: block;
		a {
			zoom:0.5;
    		-moz-transform:scale(0.5);
   	 		-moz-transform-origin: 0 0;
		}//a
	}//li
}//#social-media

#up {
	position:fixed;
	bottom:20px;
	right:20px;
}

section {
	margin-bottom:20px;
	margin-top:0px;
	p {
		padding:10px;
	}
}
